.image{
    width: 5em;
    

  img{
    width: 100%;
    height: 100%;
  }
} 
body{
  background : linear-gradient(black,brown);
}
.image1{
  width: 10em;
  

  img{
  width: 100%;
  height: 100%;
}
} 